<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <%= image_tag portfolio_item.main_image, class: "card-img-top", background: "#55595c", color:"#eceeef" unless portfolio_item.main_image.nil?%>    <div class="card-body">
      <p class="card-text"><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></p>
      <p class="card-text"><%= portfolio_item.subtitle %></p>
      <p class="card-text"><%= portfolio_item.body %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to "View", portfolio_show_path(portfolio_item), class: 'btn btn-sm btn-outline-secondary' %>
          <%= link_to "Edit", edit_portfolio_path(portfolio_item), class: 'btn btn-sm btn-outline-secondary' if logged_in?(:site_admin)%>
        </div>
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>


<!-- <b><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></b>
<p><%= portfolio_item.subtitle %></p>
<p><%= portfolio_item.body %></p>
<%= image_tag portfolio_item.main_image unless portfolio_item.main_image.nil?%></br>
<%= link_to "Show", portfolio_show_path(portfolio_item) %></br>
<%= link_to "Edit", edit_portfolio_path(portfolio_item) if logged_in?(:site_admin)%></br>
<%= link_to 'Destroy', portfolio_path(portfolio_item),
            method: :delete,
            data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%></br> -->