<h1>Portfolio Items</h1>

<%= link_to "Create new Item", new_portfolio_url %></br>

<% @portfolio_items.each do |item| %>
  <b><p><%= item.title %></p></b>
  <p><%= item.subtitle %></p>
  <p><%= item.body %></p>
  <%= image_tag item.main_image unless item.main_image.nil?%>
  <%= link_to "Edit", edit_portfolio_path(item.id) %></br>
<% end %>
