<div class='container show'>
  <p id="notice"><%= notice %></p>
  <div class='row'>
    <div class='col-md-7'>
      <%= image_tag @portfolio_item.thumb_image unless @portfolio_item.thumb_image.nil? %>
    </div>

    <div class='col-md-5'>
      <h1><%= @portfolio_item.title %></h1>
      <hr>
      <em><%= @portfolio_item.subtitle %></em>
      <p><%= @portfolio_item.body %></p>
      <hr>
      <h3>Technologies used:</h3>
      <div>
        <% @portfolio_item.technologies.each do |technology| %>
          <div>
            <p><%= technology.name %></p>
          </div>
        <% end %>
      </div>
      <%= link_to 'Edit', edit_portfolio_path(@portfolio_item) if logged_in?(:site_admin)%> |
      <%= link_to 'Back', portfolios_path %>
    </div>
  </div>
</div>
