<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>"/>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%
=begin%>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/blog_nav' %>

      <%= render 'shared/blog_nav_scroller' %>

      <!-- Start of container -->
      <%= link_to "Create new Blog", new_blog_url, class: 'nav-link' if logged_in?(:site_admin)%></br>
      <p class="notice"><%= notice %></p>

      <main role="main" class="container">
      
      <!-- Start of row -->
        <div class="row">
          <%= yield %>

          <%= render 'shared/blog_sidebar' %>

          <%= source_helper('blog') %>
        </div><!-- /.row -->
        <%= render 'shared/blog_footer' %>
      </main><!-- /.container -->
    </div>
  </body>
</html>