<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>"/>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%
=begin%>
 <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
<%
=end%>
  </head>

  <body>
    <%= render 'shared/portfolio_nav' %>
    <!-- start of main block -->
    <main role="main">

    <%= render 'shared/portfolio_masthead' %>

    <!-- end of main block -->
    </main>

    <%= yield %>

    <%= render 'shared/portfolio_footer' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= source_helper('portfolio') %>
  </body>
</html>